/* color codes */
/* dark: 0A0A0A
light: 
purple: 902CEA */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    /* list-style: none; */
    scroll-behavior: smooth;
}

.work-list-container{
    list-style: none;
    display:grid;
    width:100%;
    height:100%;
    grid-template-columns: auto auto auto;
    gap: 2px;
    transition:.25s;
    background-color: #a24fbcc8;
    padding: 2rem 3rem;
    z-index:997;
    
}
.work-list-container:hover{
    cursor:pointer;
    transition:.5s;
    background-color: #a34fbcfb;


}

.work-list-item{
    transition:.25s;
    padding:1rem 2rem;
    /* border: 4px solid blue; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    z-index:998;
}

/* .work-list-item:nth-child(1){
    grid-row-end: 3;
    grid-row-start: 1;
}
.work-list-item:nth-child(7){
    grid-column-start:2;
    grid-row-start:3;
    grid-column-end:4;
} */

section.space{
    display:flex;
    width:100%;
    flex-direction: column;
    color:#fff;
    
    align-items: center;
    justify-content: center;
    position:relative;
}
p.timer{
    font-size:40px;
    font-weight: bold;
    pointer-events:none;

}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-x:hidden;
    position:relative;
    overflow-y: auto;
    background:#F7A915

}
.disable{
    display:none;
}

.visible{
visibility:visible;
}
.not-visible{
visibility:hidden;
}
.languages-list-item{
    background:#fff;
    border-radius:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:Center;
}
.languages-list-img{
    height:150px;
    width:150px;
    border-radius: 50%;
}
.content-module{
    /* border:3px solid red; */
    overflow-x:auto;
    overflow-y:hidden;
    /* overflow:hidden; */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:500px;
    width:80%;
    border-bottom:5px double #333;
    border-top:5px double #333;
    /* box-shadow:inset 0 0 1rem 5px #333; */
    transition:.25s;
}   

.toggle-side-btn{
    font-size:45px;
    transition:.3s;
}
.toggle-side-btn:hover{
    transition:.3s;
    font-size:40px;
}
#toggle-container{
    display:none;
    visibility:visible;
    position:fixed;
    top:5px;
    right:10px;
    z-index:999;
    /* border:3px solid white; */
}
/* #toggle-container>span{
    position:absolute;
    border: 3px solid yellow;
} */
.about-me-container{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap:1rem;
    margin-top:2rem;
}
.about-me-container>li::marker{
    color:red;
    font-size:30px;
}
.about-me-para-conainer{
    display:flex;
    flex-direction: column;
    gap:1rem;
    
}

.about-me-para{
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
}
.about-me-para-list{
    padding: 0 0 0 1.25rem;
    text-decoration:underline;
}
.about-me-para,
.about-me-para-list{
    font-family: "Montserrat", sans-serif;
    font-size:20px;
    text-align: center;
}
/*Stewie ray gun!*/
.about-me-img{
height:200px;
width:200px;
}
.no-side-btn{
    display:none;

}
.yes-side-btn{
    display:block;

}
textarea{
    font-size:18px;
}
.textarea-form{
    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    justify-content: center;
    gap:1rem;
}
#textarea-container{
    position:absolute;
    padding:1rem;
    background:#333;
    border: 8px double lime;
    z-index:999;
    top:100px;
    left:100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.notes-html{
    z-index:999;
    opacity:1;
    position:fixed;
    top:-50px;
    left:300px;
    opacity:.9;
    /* display:none; */
}

.floater-message{
    display:none;
}
.retreat-toggle{
    animation:retreat .75s forwards ease-in-out;
}
@keyframes retreat {
    0%{
        transform: scale(1);
        opacity:1;
    }
    50%{
        transform:scale(1.15)
    }
    100%{
        transform:scale(0);
        opacity:0;
    }
}
.btn-toggle:hover{
cursor:pointer;
}

.appear-toggle{
    animation:appear 2s forwards ease-in-out;
}
@keyframes appear {
    0%{
        transform: scale(0);
        opacity:0;
    }
    50%{
        transform:scale(1.26)
    }
    100%{
        transform:scale(1);
        opacity:1;
    }
}
.divider{
    margin-top:1rem;
}
#nav-container1{
    width:100%;
    /* height:80px; */
    background:#902CEA;
    z-index:999;
    position:fixed;
    top:0;
    right:0;
    transition:.5s;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-counter{
    width:50px;
    height:50px;
    position:fixed;
    right:25px;
    top:25px;
    z-index:999;
    font-size:40px;
}
#nav-container1-actual{
    width:inherit;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:inherit;

}

#nav-list-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    list-style: none;
}

.regular{
    height:50px;
}
.base{
    height:12px;
    opacity:.5
}
.base:hover{
opacity:1;
cursor:pointer;
}

.daddy{
    
    height:100vh;
    width:100%;
    background:#ffffff83;
    opacity:.85;
    z-index:996;
    flex-direction: column;
    box-shadow: 0 0 8px .5px #333;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;

}


.languages-list-container-2{
    display:flex;
    /* overflow-x:auto; */
    gap:0rem;
    list-style: none;
}
.reg-space{
    height:10vh;
}
.space{
    width:100%;
    background:transparent;
    border:none;
    z-index:998;
    transition:.5s;
}
.open-space{
    height:15vh;
    transition:.5s;
}
.space:hover{
    cursor:pointer;

}
canvas{
    transition:1s;
    position:absolute;
    top:0;
    left:0;
    cursor:move;

}
.nav-list-item{
    transition:.5s;
}
.nav-list-link:hover{
    background:#fff;
    color:#902CEA;
    /* font-weight:bold; */
}

/* hr placed for testing middle of screen */
.midline{
    border:3px solid transparent;
    width:100%;
    position:fixed;
    visibility:visible;
    z-index:999;
}

.nav-list-link{
    text-transform: uppercase;
    transition:.5s;
    padding: .75rem 2rem;
    transition:.25s;
    color:#fff;
    font-weight:bold;
    font-family: "Montserrat", sans-serif;    
}
.content-hide{
transform:translate(0px,250px);
opacity:0;
}
.content-show{
transform:translate(0px,0px);
opacity:1;
}
.hideItems{
transform:translate(0px,-400px);
opacity:0;
}
.showItems{
    transform:translate(0,0);
    opacity:1;
}
.calc-hidden{
    opacity:0;
}
.calc-appear{
    opacity:.9;
}

.clock{
    letter-spacing: .5px;
    color:#fff;
    font-size:30px;
    position:absolute; 
    right:50px;
    top:3px;
    padding: 0 .5rem;
    border-radius:12px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hidden{
    opacity:0;
    display:none;
}
.indicator{
position:fixed;
top:25px;
z-index:999;

}
.indicator>h2{
    font-size:18px;
    transition:.3s;
    text-transform: uppercase;
font-family: "Montserrat", sans-serif;
padding:.5rem;
border-radius:12px;
}
.appear{
    opacity:1;
    display:block;
}
.no-work{
transform:scale(0);
opacity:.7;
transform:scale(1);

}
.yes-work{
    opacity:1;
    transform:scale(1.25);
}
h3#work-title{
    color:ghostWhite;
    font-family: "Montserrat", sans-serif;
    margin-bottom:1.25rem;
    position:absolute;
    top:.25rem;
    z-index:999;
    text-transform: uppercase;
}



footer{
    height:250px;
    width:100%;
    background:#902CEA;
    opacity:.85;
    position:relative;
    overflow:hidden;
    cursor:pointer;
    z-index:998;
    box-shadow: 0 0 8px .5px #333;

}
#codewars-container{
font-family: "Montserrat", sans-serif;
position:absolute;
right:0px;
padding:0 .25rem;
height: 100%;
background:red;
display:flex;
flex-direction: column;
align-items:center;
justify-content: center;
gap:2rem;
opacity:.85;
z-index:998;

}
#github-container{
    font-family: "Montserrat", sans-serif;
    position:absolute;
    left:0px;
    padding:0 .25rem;
    height: 100%;
    opacity:.85;
    z-index:998;
    background:lime;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    gap:1rem;
}
#repos-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    justify-content: center;
    border: .5px solid #333;
    border-left-style:none;
    border-right-width:0;
    

}
.username-gh{
    text-transform: uppercase;
}
#github-image{
    height:90px;
    width:90px;
    transition:.3s;
}
#github-image:hover{
    transform:scale(.85);
    transition:.3s;
    cursor:pointer;
}
#image-container{
    margin-bottom:1rem;
    transition:.3s;
    background:#4f4f4fb6;
}
#image-container:hover{
    transform:scale(.85);
    transition:.3s;
    cursor:pointer;
}
#username-container{
    margin-bottom:-1rem;
}
.username{
    text-transform: uppercase;
    letter-spacing:.75px;
}
#codewars-image{
    /* transform:scale(.35); */
    height:90px;
    width:75px;
}
#codewars-info{
    margin-top:-50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100px;
    gap:4px;
    
}
#languages-list-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding: 1rem 1rem;
    flex-wrap:wrap;
    width:200px;
    list-style: none;
    border: .5px solid #333;
    /* hide border left and right */
    border-left-style:none;
    border-right-width:0;
    padding: .25rem 0;
}
#fmessage{
    position:absolute;
    text-align: center;
    /* border:4px solid red; */
    width:100%;
    transition:.5s;
    z-index:994;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* display:none; */
}
#floating-message{
    font-family: "Montserrat", sans-serif;
    font-size:30px;
}
#languages-list-container>li{
    text-transform: uppercase;
    transition:.3s;
    list-style: none;
}
#languages-list-container>li:hover{
    text-shadow:0 0 2px rgb(255, 255, 255);
    cursor:text;
    transition:.3s;
}

#contact-container{
position:absolute;
/* border: 4px solid #fff; */
display:flex;
gap:2rem;
top:5%;
justify-content: start;
align-items: center;
transition:.75s;
width:100%;
z-index:995;
list-style: none;

}

.temp-border{
    transition:.3s;
    border-bottom:.5px solid #000;
}
.temp-border-op{
    border:none;
    transition:.3s;
}
#contact-container:hover{
    left:5%;
    transition:.5s;
}
.hide-icons{
    transform:translate(0,-100px)
}
.show-icons{
    transform:translate(0,0px)
}
.contact-icon-img{
    height:50px;
    width:50px;
    transition:.25s;
    border-radius:50%;

}
.calc-actual{
    z-index:999;
    position:absolute;
    top:0;
    left:0;
}
.notes-icon{
    transition:.25s;
    position:absolute;
    color:#fff;
    left: 12%;
    z-index:999;
    transform:scale(1.5);
    margin-top:.5rem;
    transition:.25s;
}
.notes-icon:hover{
    cursor:pointer;
    transform:scale(1.12);

}
.calc{
    transition:.25s;
    position:fixed;
    color:#fff;
    left: 5%;
    z-index:999;
}
.calc:hover{
    cursor:pointer;
    transform:scale(1.12);

}
.hi-calc{
    top:2px;
}
.bye-calc{
    top:-100px;
}
.contact-icon-img:hover{
    background:violet;
}


/* @media screen and (max-width: 890px) and (max-height:1080px){
    #toggle-container{
        display:block;
    }
    #floating-message{
        font-size:20px;
    }
    
} */